.container {
  width: 300px;
}
.divider {
  height: 1px;
  background-color: var(--blue);
  display: block;
}

.table_line {
  display: grid;
  grid-template-columns: 10px 3fr 3fr 2fr 2fr;
  grid-column-gap: 56px;
  :nth-child(1) {
    justify-self: start;
    text-align: start;
  }
  :last-child {
    justify-self: end;
    text-align: end;
  }
}
.total_line {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
